<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9afe78">  <td>21/11/30 13:05:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRegisterKfc.getTestData()[pri:0, instance:test.TestRegisterKfc@735b478]">&gt;&gt;getTestData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=KFC smoke test-1@615083454</td>   <td></td> </tr>
<tr bgcolor="63a2ba">  <td>21/11/30 13:05:21</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestOrderWithOutLogIn.getTestData()[pri:0, instance:test.TestCheckCartWithOutLogin@2c9f9fb0]">&gt;&gt;getTestData</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=KFC smoke test-2@1031992610</td>   <td></td> </tr>
<tr bgcolor="63a2ba">  <td>21/11/30 13:05:21</td>   <td>146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestOrderWithOutLogIn.testOrderWithoutLogin()[pri:0, instance:test.TestCheckCartWithOutLogin@2c9f9fb0]">testOrderWithoutLogin</td>
  <td>TestNG-test=KFC smoke test-2@1031992610</td>   <td></td> </tr>
<tr bgcolor="9afe78">  <td>21/11/30 13:05:21</td>   <td>146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRegisterKfc.testRegisterUser()[pri:0, instance:test.TestRegisterKfc@735b478]">testRegisterUser</td> 
  <td>TestNG-test=KFC smoke test-1@615083454</td>   <td></td> </tr>
<tr bgcolor="6ac6e3">  <td>21/11/30 13:05:31</td>   <td>9979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetStepIndex()[pri:0, instance:test.TestCheckCartWithOutLogin@2c9f9fb0]">&lt;&lt;resetStepIndex</td>
<td>&nbsp;</td>  <td>TestNG-test=KFC smoke test-2@1031992610</td>   <td></td> </tr>
<tr bgcolor="6ac6e3">  <td>21/11/30 13:05:31</td>   <td>9980</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeBrowser()[pri:0, instance:test.TestCheckCartWithOutLogin@2c9f9fb0]">&lt;&lt;closeBrowser</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=KFC smoke test-2@1031992610</td>   <td></td> </tr>
<tr bgcolor="6ac6e3">  <td>21/11/30 13:05:33</td>   <td>12035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.resetStepIndex()[pri:0, instance:test.TestRegisterKfc@735b478]">&lt;&lt;resetStepIndex</td> 
<td>&nbsp;</td>  <td>TestNG-test=KFC smoke test-1@615083454</td>   <td></td> </tr>
<tr bgcolor="6ac6e3">  <td>21/11/30 13:05:33</td>   <td>12036</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeBrowser()[pri:0, instance:test.TestRegisterKfc@735b478]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=KFC smoke test-1@615083454</td>   <td></td> </tr>
</table>
