<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a263c2">  <td>21/11/28 23:51:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRegisterKfc.getTestData()[pri:0, instance:test.TestRegisterKfc@1a04f701]">&gt;&gt;getTestData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990160809</td>   <td></td> </tr>
<tr bgcolor="a263c2">  <td>21/11/28 23:51:39</td>   <td>87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRegisterKfc.testRegisterUser()[pri:0, instance:test.TestRegisterKfc@1a04f701]">testRegisterUser</td> 
  <td>main@1990160809</td>   <td></td> </tr>
</table>
